<div class="container">
    <section>
        <h3>Mis clases</h3>
        <ul class="lista">
            {{#each clasesAlumno}}
            <li><span style="font-weight: 600;">{{nombreRitmo}}: Nivel {{nombreNivel}} → </span>{{horarios}}</li>
            {{/each}}
        </ul>
    </section>

    <section>
        <h3>Mis pagos</h3>
        <div>
            <ul class="lista">
                {{#each cuotas}}
                <li><span><strong>{{anio}} - {{nombreMes}} → </strong></span>${{montoPagado}} - <i>(Abonada el
                    {{fechaDePago}})</i></li>
                {{/each}}
            </ul>
        </div>

    </section>
</div>