<h1 class="titulo-pestaña">EDITAR CLASE</h1>
<main>
    <div class="container" style="max-width: 800px;">
        <form method="post" action="/admin/clases/editarClase" class="needs-validation" novalidate>
            <fieldset>
                <div class="row">
                    <div class="col">
                        <label for="ritmo" class="form-label mt-3">Ritmo: </label>
                        <select name="ritmo" id="ritmo" class="form-select" required>
                            {{#each ritmo}}
                            {{#ifEqual this.nombreRitmo ../nombreRitmoActual}}
                            <option selected value="{{codRitmo}}">{{nombreRitmo}}</option>
                            {{/ifEqual}}
                            {{/each}}
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="nivel" class="form-label mt-3">Nivel: </label>
                        <select name="nivel" id="nivel" class="form-select" required>
                            {{#each nivel}}
                            {{#ifEqual this.nombreNivel ../nombreNivelActual}}
                            <option selected value="{{codNivel}}">{{nombreNivel}}</option>
                            {{/ifEqual}}
                            {{/each}}
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="profesor" class="form-label mt-3">Profesor: </label>
                        <select name="profesor" id="profesor" class="form-select" required>
                            {{#each profesor}}
                            {{#ifEqual this.nombreProfesor ../nombreProfesorActual}}
                            <option selected value="{{dniProfesor}}">{{nombreProfesor}}</option>
                            {{else}}
                            <option value="{{dniProfesor}}">{{nombreProfesor}}</option>
                            {{/ifEqual}}
                            {{/each}}
                        </select>
                    </div>
                </div>
                {{#each horario}}
                <input class="invisible" name="idHorario" value={{this.idHorario}}>
                <div class="row horarios">
                    <div class="col">
                        <label for="dia" class="form-label mt-3">Día: </label>
                        <select name="dia" id="dia" class="form-select" required>
                            {{#each ../dia}}
                            {{#ifEqual this.nombreDia ../this.nombreDia}}
                            <option selected value={{codDia}}>{{nombreDia}}</option>
                            {{else}}
                            <option value="{{codDia}}">{{nombreDia}}</option>
                            {{/ifEqual}}
                            {{/each}}
                        </select>
                    </div>
                    <div class="col">
                        <label class="form-label mt-3" for="horaInicio">Desde: </label>
                        <input id="horaInicio" name="horaInicio" class="form-control" type="time"
                            value={{this.horaInicio}} required>

                    </div>
                    <div class="col">
                        <label class="form-label mt-3" for="horaFin">Hasta: </label>
                        <input id="horaFin" name="horaFin" class="form-control" type="time" value={{this.horaFin}}
                            required>
                        <div class="invalid-feedback">
                            La hora desde debe ser menor a la hora hasta.
                        </div>
                    </div>
                </div>
                {{/each}}

            </fieldset>


            <div class="form-group">
                <input type="submit" class="btn mt-2 float-end mt-3 mb-3" id="enviarConsulta" value="Confirmar cambios"
                    onclick="validarHoras()">
            </div>
        </form>
    </div>
</main>


<script src="/js/adminClases.js"></script>