<h1 class="titulo-pestaña">EDITAR PROFESOR</h1>
<main>
    <div class="container" style="max-width: 800px;">
        <form method="post" action="/admin/profesores/editarProfesor">
            <fieldset>
                <legend>Profesor</legend>
                <input class="invisible" name="dniOriginal" value="{{ profesor.dniProfesor }}">
                <div class="row">
                    <div class="mb-3">
                        <label for="dni" class="form-label">D.N.I.</label>
                        <input id="dni" name="dni" class="form-control" type="number" value="{{ profesor.dniProfesor }}"
                            required>
                    </div>
                </div>
                <div class="row">
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control" name="nombre" value="{{ profesor.nombreProfesor }}"
                            required>
                    </div>
                </div>
                <div class="row">
                    <div class="mb-3">
                        <label for="apellido" class="form-label">Apellido</label>
                        <input type="text" class="form-control" name="apellido" value="{{ profesor.apellidoProfesor }}"
                            required>
                    </div>
                </div>
                <div class="row">
                    <div class="mb-3">
                        <label for="telefono" class="form-label">Teléfono</label>
                        <input id="telefono" name="telefono" class="form-control" type="text"
                            value="{{ profesor.telefonoProfesor }}" required>
                    </div>
                </div>
                <div class="row">
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input id="email" name="email" class="form-control" type="email"
                            value="{{ profesor.emailProfesor }}" required>
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <legend class="mt-3">Sueldo</legend>
                <div class="row">
                    <div class="mb-3">
                        <label for="precioXalumno" class="form-label">Precio a cobrar por alumno</label>
                        <div class="input-group">
                            <span class="input-group-text" id="inputGroupPrepend">$</span>
                            <input id="precioXalumno" name="precioXalumno" class="form-control" type="text"
                                value="{{ profesor.precioXalumno }}" required>
                        </div>
                    </div>
                </div>
                <table id="tablaSueldo" class="table table-striped">
                    <thead class="table-dark">
                        <tr>
                            <th class="align-middle" scope="col">Clase</th>
                            <th class="align-middle" scope="col">Cantidad de alumnos</th>
                            <th class="align-middle" scope="col">A pagar</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        {{#each sueldo}}
                        <tr>
                            <td class="align-middle" scope="row">{{clase}}</td>
                            <td class="align-middle cantAlumnos">{{cantAlumnos}}</td>
                            <td class="align-middle montoPagar"></td>
                        </tr>
                        {{/each}}

                        {{#unless sueldo}}
                        <tr>
                            <td colspan="3">No hay clases del profesor para mostrar</td>
                        </tr>
                        {{/unless}}
                    </tbody>
                </table>

                <div class="row mt-3">
                    <h3>SUELDO: $<span id="sueldoTotal"></span></h3>
                </div>
            </fieldset>

            <div class="form-group">
                <input type="submit" class="btn mt-2 float-end mb-3" id="enviarConsulta"
                    value="Confirmar cambios"></input>
            </div>
        </form>
    </div>
</main>

<script src="/js/editarProfesor.js"></script>