<h1 class="titulo-pestaña">INSCRIPCIÓN A LAS CLASES</h1>
<main>
    <div class="container" style="max-width: 800px;">
        <form method="post" action="/admin/inscripciones/clases">
            <fieldset>
                <legend>Alumno</legend>
                <div class="row mb-3">
                    <div class="col">
                        <label for="dni" class="form-label">D.N.I.</label>
                        <select name="dni" id="dni" class="form-select" required>
                            <option selected value="">-- Seleccione el DNI de un alumno --</option>
                            {{#each dniAlumno}}
                            <option value="{{dniAlumno}}">{{dniAlumno}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <legend>Clases</legend>
                {{#each clase}}
                <input type="checkbox" name="clase[]" id="clase" value="{{nombreRitmo}}-{{nombreNivel}}">
                <label for="clase" class="form-label">
                    {{#ifEqual nombreRitmo nombreNivel}}
                    {{nombreRitmo}}
                    {{else}}
                    {{ nombreRitmo }} - {{ nombreNivel }}
                    {{/ifEqual}}
                    - {{ horarios }}
                </label>
                <br>
                {{/each}}
            </fieldset>

            <div class="form-group">
                <input type="submit" class="btn mt-2 float-end mb-3" id="enviarConsulta"
                    value="Confirmar inscripción"></input>
            </div>
        </form>
    </div>
</main>


<script src="/js/inscripcionAlumno.js"></script>
