<div class="container text-center">
    <h1 class="titulo-pestaña">LISTADO DE PROFESORES</h1>

    <table class="table table-striped" id="tabla">
        <thead class="table-dark">
            <tr>
                <th class="align-middle" scope="col">Nombre</th>
                <th class="align-middle" scope="col">DNI</th>
                <th class="align-middle" scope="col">Teléfono</th>
                <th class="align-middle" scope="col">Email</th>
                <th class="align-middle" scope="col">Editar</th>
                <th class="align-middle" scope="col">Eliminar</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {{#each profesores}}
            <tr>
                <td class="align-middle" scope="row">{{nombreCompletoProfesor}}</td>
                <td class="align-middle">{{dniProfesor}}</td>
                <td class="align-middle">{{telefonoProfesor}}</td>
                <td class="align-middle">{{emailProfesor}}</td>
                <td class="align-middle">
                    <a href="/admin/profesores/editarProfesor?dniProfesor={{dniProfesor}}">
                        <i class="bi bi-pencil-square text-warning"></i>
                    </a>
                </td>
                <td class="align-middle text-danger">
                    <button type="button" class="btn btnEliminar" data-bs-toggle="modal"
                        data-bs-target="#staticBackdrop">
                        <i class="bi bi-x-square text-danger"></i>
                    </button>

                </td>
            </tr>
            {{/each}}

            {{#unless profesores}}
            <tr>
                <td colspan="7">No hay profesores para mostrar</td>
            </tr>
            {{/unless}}
        </tbody>
    </table>


    {{!-- Modal de confirmación de eliminación de profesores --}}
    <div class="modal fade" id="staticBackdrop" id="modal" data-bs-backdrop="static" data-bs-keyboard="false"
        tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5 text-danger" id="staticBackdropLabel">Eliminar Profesor</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="modalBody">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-danger" id="btnConfirmarEliminacion">
                    </button>
                </div>
            </div>
        </div>
    </div>

    <a href="/admin/profesores/nuevoProfesor">
        <button type="submit" class="btn mt-3 mb-3 float-end" id="enviarConsulta">
            + Nuevo profesor
        </button>
    </a>
</div>

<script src="/js/listarProfesores.js"></script>