<div class="container text-center">
    <h1 class="titulo-pestaña">LISTADO DE ALUMNOS</h1>
    <table class="table table-striped">
        <thead class="table-dark">
            <tr>
                <th class="align-middle" scope="col">Nombre</th>
                <th class="align-middle" scope="col">DNI</th>
                <th class="align-middle" scope="col">Teléfono</th>
                <th class="align-middle" scope="col">Email</th>
                <th class="align-middle" scope="col">Editar</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {{#each alumnos}}
            <tr>
                <td class="align-middle" scope="row">{{nombreCompletoAlumno}}</td>
                <td class="align-middle">{{dniAlumno}}</td>
                <td class="align-middle">{{telefonoAlumno}}</td>
                <td class="align-middle">{{emailAlumno}}</td>
                <td class="align-middle">
                    <a href="/admin/alumnos/editarAlumno?dniAlumno={{dniAlumno}}">
                        <i class="bi bi-pencil-square text-warning"></i>
                    </a>
                </td>
            </tr>
            {{/each}}

            {{#unless alumnos}}
            <tr>
                <td colspan="7">No hay alumnos para mostrar</td>
            </tr>
            {{/unless}}
        </tbody>
    </table>
</div>