<div class="container mt-5 text-center">
    <table class="table table-striped">
        <thead class="table-dark">
            <tr>
                <th class="align-middle" scope="col">Ritmo</th>
                <th class="align-middle" scope="col">Nivel</th>
                <th class="align-middle" scope="col">Profesor</th>
                <th class="align-middle" scope="col">Horarios</th>
                <th class="align-middle" scope="col">Cantidad de alumnos</th>
                <th class="align-middle" scope="col">Editar</th>
                <th class="align-middle" scope="col">Eliminar</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {{#each clases}}
            <tr>
                <td class="align-middle" scope="row">{{nombreRitmo}}</td>
                <td class="align-middle">{{nombreNivel}}</td>
                <td class="align-middle">{{profesor}}</td>
                <td class="align-middle">{{horarios}}</td>
                <td class="align-middle">{{cantAlumnos}}</td>
                <td class="align-middle">
                    <a href="/admin/clases/editarClase?ritmo={{nombreRitmo}}&nivel={{nombreNivel}}&profesor={{profesor}}">
                        <i class="bi bi-pencil-square text-warning"></i>
                    </a>
                </td>
                <td class="align-middle text-danger">
                    <a href="/admin/clases/eliminarClase?ritmo={{nombreRitmo}}&nivel={{nombreNivel}}">
                        <i class="bi bi-x-square text-danger"></i>
                    </a>
                </td>
            </tr>
            {{/each}}

            {{#unless clases}}
            <tr>
                <td colspan="7">No hay clases para mostrar</td>
            </tr>
            {{/unless}}
        </tbody>
    </table>

    {{!-- Lleva a nueva clase --}}
    <a href="/admin/clases/nuevaClase">
        <button type="submit" class="btn mt-3 mb-3 float-end" id="enviarConsulta">
            + Nueva clase
        </button>
    </a>

    
</div>