{{!-- <h1 class="titulo-pestaña">AGREGAR NUEVA CLASE</h1>
<main>
    <div class="container" style="max-width: 800px;">
        <form method="post" action="/admin/clases/nuevaClase">
            <fieldset>
                <div class="row">
                    <div class="col">
                        <label for="ritmo" class="form-label mt-3">Ritmo: </label>
                        <select name="ritmo" id="ritmo" class="form-select">
                            <option selected>-- Seleccione un ritmo --</option>
                            {{#each ritmo}}
                            <option value="{{codRitmo}}">{{nombreRitmo}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="nivel" class="form-label mt-3">Nivel: </label>
                        <select name="nivel" id="nivel" class="form-select">
                            <option selected>-- Seleccione un nivel --</option>
                            {{#each nivel}}
                            <option value="{{codNivel}}">{{nombreNivel}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="profesor" class="form-label mt-3">Profesor: </label>
                        <select name="profesor" id="profesor" class="form-select">
                            <option selected>-- Seleccione un profesor --</option>
                            {{#each profesor}}
                            <option value="{{dniProfesor}}">{{nombreProfesor}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
                <div class="row horarios">
                    <div class="col">
                        <label for="dia" class="form-label mt-3">Día: </label>
                        <select name="dia" id="dia" class="form-select">
                            <option selected>-- Seleccione un día --</option>
                            {{#each dia}}
                            <option value="{{codDia}}">{{nombreDia}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="col">
                        <label class="form-label mt-3" for="horaInicio">Desde: </label>
                        <input id="horaInicio" name="horaInicio" class="form-control" type="time" required>
                    </div>
                    <div class="col">
                        <label class="form-label mt-3" for="horaFin">Hasta: </label>
                        <input id="horaFin" name="horaFin" class="form-control" type="time" required>
                    </div>
                </div>

                <div id="dias-extra"></div>

                <button type="button" id="btn-agregar-dia" class="float-end mt-3 mb-3">+ Agregar otro día</button>
            </fieldset>

            <div class="form-group">
                <input type="submit" class="btn mt-2 float-end mt-3 mb-3" id="enviarConsulta"
                    value="Agregar clase"></input>
            </div>
        </form>
    </div>
</main> --}}





<h1 class="titulo-pestaña">AGREGAR NUEVA CLASE</h1>
<main>
    <div class="container" style="max-width: 800px;">
        <form method="post" action="/admin/clases/nuevaClase" class="needs-validation" novalidate>
            <fieldset>
                <div class="row">
                    <div class="col">
                        <label for="ritmo" class="form-label mt-3">Ritmo: </label>
                        <select name="ritmo" id="ritmo" class="form-select" required>
                            <option selected value="">-- Seleccione un ritmo --</option>
                            {{#each ritmo}}
                            <option value="{{codRitmo}}">{{nombreRitmo}}</option>
                            {{/each}}
                        </select>
                        <div class="invalid-feedback">
                            Porfavor seleccione un ritmo.
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="nivel" class="form-label mt-3">Nivel: </label>
                        <select name="nivel" id="nivel" class="form-select" required>
                            <option selected value="">-- Seleccione un nivel --</option>
                            {{#each nivel}}
                            <option value="{{codNivel}}">{{nombreNivel}}</option>
                            {{/each}}
                        </select>
                        <div class="invalid-feedback">
                            Porfavor seleccione un nivel.
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="profesor" class="form-label mt-3">Profesor: </label>
                        <select name="profesor" id="profesor" class="form-select" required>
                            <option selected value="">-- Seleccione un profesor --</option>
                            {{#each profesor}}
                            <option value="{{dniProfesor}}">{{nombreProfesor}}</option>
                            {{/each}}
                        </select>
                        <div class="invalid-feedback">
                            Porfavor seleccione un profesor.
                        </div>
                    </div>
                </div>
                <div class="row horarios">
                    <div class="col">
                        <label for="dia" class="form-label mt-3">Día: </label>
                        <select name="dia" id="dia" class="form-select" required>
                            <option selected value="">-- Seleccione un día --</option>
                            {{#each dia}}
                            <option value="{{codDia}}">{{nombreDia}}</option>
                            {{/each}}
                        </select>
                        <div class="invalid-feedback">
                            Porfavor seleccione un día.
                        </div>
                    </div>
                    <div class="col">
                        <label class="form-label mt-3" for="horaInicio">Desde: </label>
                        <input id="horaInicio" name="horaInicio" class="form-control" type="time" required>

                    </div>
                    <div class="col">
                        <label class="form-label mt-3" for="horaFin">Hasta: </label>
                        <input id="horaFin" name="horaFin" class="form-control" type="time" required>
                        <div class="invalid-feedback">
                            La hora desde debe ser menor a la hora hasta.
                        </div>
                    </div>
                </div>

                <div id="dias-extra"></div>

                <button type="button" id="btn-agregar-dia" class="float-end mt-3 mb-3">+ Agregar otro día</button>
            </fieldset>

            <div class="form-group">
                <input type="submit" class="btn mt-2 float-end mt-3 mb-3" id="enviarConsulta" value="Agregar clase"
                    onclick="validarHoras()">
            </div>
        </form>
    </div>
</main>
<script src="../public/js/adminClases.js"></script>



<script>
    const btnAgregarDia = document.getElementById('btn-agregar-dia');
    const contenedorDiasExtra = document.getElementById('dias-extra');

    btnAgregarDia.addEventListener('click', () => {

        const nuevaFila = document.createElement('div');
        nuevaFila.classList.add('row', 'horarios');

        nuevaFila.innerHTML = `
        <div class="col">
            <label for="dia" class="form-label mt-3">Día: </label>
            <select name="dia" class="form-select" required>
                <option selected value="">-- Seleccione un día --</option>
                {{#each dia}}
                <option value="{{codDia}}">{{nombreDia}}</option>
                {{/each}}
            </select>
        </div>
        <div class="col">
            <label class="form-label mt-3" for="horaInicio">Desde: </label>
            <input name="horaInicio" class="form-control" type="time" required>
        </div>
        <div class="col">
            <label class="form-label mt-3" for="horaFin">Hasta: </label>
            <input name="horaFin" class="form-control" type="time"required>
            <div class="invalid-feedback">
                La hora desde debe ser menor a la hora hasta.
            </div>
        </div>
    `;
        contenedorDiasExtra.appendChild(nuevaFila);
    });
</script>

<script>
    (() => {
        'use strict'

        // Función para validar las horas
        const validarHoras = () => {
            const horasInicio = document.querySelectorAll('input[name="horaInicio"]');
            const horasFin = document.querySelectorAll('input[name="horaFin"]');
            let horasValidas = true; // Variable para controlar si todas las horas son válidas

            for (let i = 0; i < horasInicio.length; i++) {
                const horaInicio = horasInicio[i].value;
                const horaFin = horasFin[i].value;

                if (!(horaInicio < horaFin)) {
                    horasValidas = false;
                    // Marcar los campos de horaInicio y horaFin en rojo si las horas no son válidas
                    horasInicio[i].classList.add('is-invalid');
                    horasFin[i].classList.add('is-invalid');
                } else {
                    // Remover la clase de inválido si las horas son válidas
                    horasInicio[i].classList.remove('is-invalid');
                    horasFin[i].classList.remove('is-invalid');
                }
            }

            return horasValidas; // Retornar true si todas las horas son válidas, false de lo contrario
        };

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        const forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.from(forms).forEach(form => {
            form.addEventListener('submit', event => {
                // Validar el formulario con Bootstrap y las horas
                if (!form.checkValidity() || !validarHoras()) {
                    event.preventDefault()
                    event.stopPropagation()
                }

                // Marcar el formulario como validado
                form.classList.add('was-validated');

                // Si las horas no son válidas, quitar la clase was-validated para restablecer los estilos
                if (!validarHoras()) {
                    form.classList.remove('was-validated');
                }
            }, false)
        })
    })();

</script>


{{!--
<script>
    const validarHoras = () => {
        const horasInicio = document.querySelectorAll('input[name="horaInicio"]');
        const horasFin = document.querySelectorAll('input[name="horaFin"]');

        console.log('HORAS: ', horasInicio, horasFin);
        for (let i = 0; i < horasInicio.length; i++) {
            const horaInicio = horasInicio[i].value;
            const horaFin = horasFin[i].value;

            if (horaInicio < horaFin) {
                console.log('HORA CONTROLADA: ' + horaInicio + horaFin)
                console.log('HORAS JOYA ', true);
            } else {
                console.log('HORA CONTROLADA: ' + horaInicio + horaFin)
                console.log('HORAS JOYA', false);
            }
        }
    }
</script>
<script>
    // de bootstrap
    (() => {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        const forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.from(forms).forEach(form => {
            form.addEventListener('submit', event => {
                if (!form.checkValidity()) {
                    event.preventDefault()
                    event.stopPropagation()
                }

                form.classList.add('was-validated')
            }, false)
        })
    })()
</script> --}}